<p>
  <strong>Date:</strong> <%= event_details.date %>
  <%- if event_details.one_day? -%>
  <br />
  <strong>Time:</strong> <%= render :partial => 'events/times', :object => times_with_zones(event_details) %>
  <%- end -%>
</p>
<% unless event_details.location.blank? %>
<p>
  <strong>Location</strong><br/>
  <%= textilize_without_paragraph event_details.location %>
</p>
<% end %>

<% unless event_details.description.blank? %>
<p>
  <strong>Description/Other Details</strong><br />
  <%= textilize_without_paragraph event_details.description %>
</p>
<% end %>