<p style="float: right;">
  <a href="#" class="fake_button view_events calendar">Calendar</a>
  <a href="#" class="fake_button view_events list">List</a>
</p>
<div id="event_calendar">
  <%= render :partial => 'calendar' %>
</div>
<div id="event_list" style="display: none;">
  <%= render :partial => 'list' %>
</div>
<%= render :partial => 'search_form' %>
