<%= render @event %>
<p><strong>Materials/Resources</strong></p>
<div class="span-10 last">
  <%= render @event.links.all %>
  <p><strong>New Link</strong></p>
  <%= render :partial => 'links/form' %>
</div>