<div class="span-10">
<h1>Event</h1>

<%= render :partial => 'event_details', :object => @event %>

<h3>Attendees/Participants</h3>

<% if @event.attendees.empty? %>
  <p><em>No attendees for this event.</em></p>
<% else %>
    
  <% form_tag drop_contact_event_path(@event) do %>
    <table class="nice_table">
      <tr>
        <th>Full Name</th>
        <th>Email</th>
      </tr>

    <% @event.attendees.each do |attendee|  %>
      <tr>
        <td>link to attendee participant</td>
        <td>attendee@particpant.exp</td>
        <td>
          drop participant from event
        </td>
        <td>participant checkbox to drop multiple</td>
      </tr>
    <% end %>
      <tr>
        <td colspan="4" style="text-align:right">
          submit button
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
</div>
